body {
  background-color: #f0f0f0;          /* Fond clair par défaut */
  color: #222;                        /* Police sombre par défaut */
  font-family: Arial, sans-serif;
  transition: background 0.3s, color 0.3s; /* Transition douce */
}

.dark {
  background-color: #222;             /* Fond sombre pour le mode dark */
  color: #f0f0f0;                     /* Police claire pour le mode dark */
}
